<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content  %}
    <h1> Derse Katılan Öğrenciler</h1>
    <ol>
        <li>Adnan Akif</li>
        <li>Bulut</li>
        <li>Utkan</li>
        <li>Harun</li>
        <li>Çağan Batu</li>
    </ol>
    <p>Derse katılan öğrenci sayısı: {sayi}</p>
    {% endblock  %}

    <form>
        <input type="text">
    </form>
</body>
</html>